@import './base.css';

/* Layout */

body {
  overflow: hidden;
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* Type */
h3 {
  font-weight: bold;
}

/* Transitions */

.slide-up-enter-active, .slide-up-leave-active {
  transition: all 0.25s ease-out;
}
.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.slide-down-enter-active, .slide-down-leave-active {
  transition: all 0.25s ease-out;
}
.slide-down-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Native components */

a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

button {
  padding: 18px 32px;
  background: var(--vt-c-black);
  color: var(--vt-c-white);
  outline: none;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  font-family: Bricolage;
}

button.secondary {
  background: rgb(25 26 38 / 26%);
}

button.success {
  background: #08C4B2;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* Custom Components */

/* Spinner */
.spinner {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid var(--vt-c-white);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}