/* Native components */

a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

button {
  padding: 18px 32px;
  background: var(--vt-c-black);
  color: var(--vt-c-white);
  outline: none;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  font-family: Bricolage;
}

button.secondary {
  background: rgb(25 26 38 / 26%);
}

button.danger {
  background: var(--vt-c-red);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}