/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #F1F1F3;
  --vt-c-white-mute: #CACBD0;

  --vt-c-black: #191A26;
  --vt-c-ebony: #2B2D42;
  --vt-c-grey: #606272;
  --vt-c-red: #E53535;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: var(--vt-c-grey);

  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-light-2: var(--vt-c-ebony);
  --vt-c-text-dark-1: var(--vt-c-white-soft);
  --vt-c-text-dark-2: var(--vt-c-white-mute);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-ebony);
  --color-background-soft: var(--vt-c-ebony);
  --color-background-dark: var(--vt-c-black);
  --color-background-mute: var(--vt-c-grey);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);
  --color-text-mute: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
}
